body {
    margin: 0;
    width: 400px;
    height: 600px;
}

#box {
    text-align: center;
}

#video {
    max-width: 400px;
    max-height: 250px;
}

#cover {
    max-width: 400px;
    max-height: 250px;
}